body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #a7a09a;
}

#wrap {
  width:750px;
  margin:0 auto;
  background:#99c;
}

#header {
  background:#ddd;
  padding:5px 10px;
}

h1 {
  margin: 0;
}

#nav {
  padding:5px 10px;
  background:#c99;
}
#main {
  padding:10px;
  background:#9c9;
  float: left;
  width: 480px;
}

h2 {
margin:0 0 1em;
}

#sidebar {
  background: #99c;
  width: 230px;
  float: right;
  padding:10px;
}
#footer {
  background:#cc9;
  clear: both;
  padding:5px 10px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

#footer p {
margin:0;
}
